<!doctype html>
<html>
  <head>
  <link rel="stylesheet" href="index.css">    
    <title>Index Page</title>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
    <script type="text/javascript" src="custom_file.js"></script>    

    <div class="div2 style_b">
    <header>Designed w/ jQuery & CSS</header>
    <h1>Header 1</h1>
    <em>Text for under header. Donec euismod dolor id orci pharetra, ac finibus lectus mattis. In eget luctus dui.</em>
    <br class="clear">
    </div>
    <div class="div1"><p title="Click this..." alt="Only temporary need for this paragraph.">Donec euismod dolor id orci pharetra, ac finibus lectus mattis. In eget luctus dui. Duis pellentesque laoreet nibh, a fermentum lorem. Pellentesque quis arcu vitae dui dapibus consectetur vel eget ante. Proin mauris ante, aliquet at efficitur vitae, egestas ut sapien. Donec facilisis, mauris sagittis gravida facilisis, diam magna fringilla odio, in ultricies eros enim sed lorem.
      </p>
    <div class="button btn btn-primary"><button>Button Text</button></div><br class="clear">
    <div class="lpattern"></div><div class="rpattern"></div>
    </div>
    <div class="div2 tints">
    <h2 title="If I wanted the mouse to pop this.">Header 2</h2>
    <p class="a">
      Donec euismod dolor id orci pharetra, ac finibus lectus mattis. In eget luctus dui. <span class="text-warning">Duis pellentesque laoreet nibh, a fermentum lorem.</span> Pellentesque quis arcu vitae dui dapibus consectetur vel eget ante. Proin mauris ante, aliquet at efficitur vitae, egestas ut sapien. Donec facilisis, mauris sagittis gravida facilisis, diam magna fringilla odio, in ultricies eros enim sed lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in mollis nunc. Cras aliquam dapibus enim id maximus. Phasellus vitae est leo.
    </p>
    <div class=button><button>Button Text</button></div>
    <div class=button><button>Button Text</button></div>
    <div class="lpattern"></div><div class="rpattern"></div>
    </div>
    <div class="div2">
    <h2>Header 3</h2>
    <p class="a">
Duis pellentesque laoreet nibh, a fermentum lorem. Donec euismod dolor id orci pharetra, ac finibus lectus mattis. In eget luctus dui. Pellentesque quis arcu vitae dui dapibus consectetur vel eget ante. Proin mauris ante, aliquet at efficitur vitae, egestas ut sapien. Donec facilisis, mauris sagittis gravida facilisis, diam magna fringilla odio, in ultricies eros enim sed lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in mollis nunc. Cras aliquam dapibus enim id maximus. Phasellus vitae est leo.
    </p>
    <div class="button"><button>Button Text</button></div>
    <div class="button"><button>Button Text</button></div>
    <div class="lpattern"></div><div class="rpattern"></div>
    </div>      
    <div class="div2 tints">
    <h2>Header 4</h2>
    <p class="a">
Duis pellentesque laoreet nibh, a fermentum lorem. Donec euismod dolor id orci pharetra, ac finibus lectus mattis. In eget luctus dui. Pellentesque quis arcu vitae dui dapibus consectetur vel eget ante. Proin mauris ante, aliquet at efficitur vitae, egestas ut sapien. Donec facilisis, mauris sagittis gravida facilisis, diam magna fringilla odio, in ultricies eros enim sed lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in mollis nunc. Cras aliquam dapibus enim id maximus. Phasellus vitae est leo.
    </p>
    <div class="button"><button>Button Text</button></div>
    <div class="button"><button>Button Text</button></div>
    <div class="lpattern"></div><div class="rpattern"></div>
    </div>
   
  </body>

</html>