body {
    text-align: center;
    font-family: "Raleway";
    margin: 0;
    position: relative;
    width: 850px;    
}
button {
    width: 100px;
    height: 23px;
}
main {

    margin: 35px auto;
    position: relative;
}
a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #F15B31;
}
nav {position: relative;
    background-color: #00A6B3;
    color: #FFF;
    padding: 20px 0;
}
nav > a {
    margin: 0 20px;
/*    padding: 25px;*/
    border-bottom: 2px solid transparent;
}
nav > a:hover {
/*    background-color: #222CCC; */
    border-color: white;
}
header {
    background-color: #F15B31;
    color: #FFF;
    padding: 30px 20px;
}
header, h1, h2, h3, h4 {
    color: #0D2C40;
    text-transform: uppercase;
    margin: 0;
}
header, h1 {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 45px;
}
h2 {
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 20px;
}
p {
    font-family: "Droid Serif";
    line-height: 26px;
    font-size: 18px;
}

img {
    margin: 40px 8px;
}
footer {
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background: #0D2C40;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .08em;
    font-family: "Raleway";
}
.copyright {float: left;}
.message {float: right;}
.name {color: #F13B31; font-weight: 700;}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}